* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  --main-color: white;
  --second-color: rgb(0, 0, 0);
}

.wrapper {
  background-color: var(--main-color);
  width: 850px;
  margin: 0 auto;
}

/* navigation */
nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  background-color: var(--main-color);
}

.logo {
  height: 250px;
  width: 250px;
  margin: 30px 0 0 0;
  cursor: pointer;
}

nav ul {
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: bold;
  list-style: none;
}

nav ul li {
  margin-bottom: 20px;
}

nav ul li a {
  border-bottom: 2px solid var(--main-color);
  padding-bottom: 5px;
  transition: border-bottom 0.4s;
}

nav ul li a:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--second-color);
}

/* main */
main {
  padding-top: 75px;
}

/* intro */
.intro,
.offer,
.cooperation,
.execution,
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 470px;
  margin: 25px;
}

.intro-text {
  width: 465px;
  margin: 0 25px 25px 25px;
}

.intro-text p {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
}

.pictures div {
  height: 225px;
  width: 225px;
  margin: 5px;
}

.pictures img {
  height: 225px;
  width: 225px;
}

/* offer */
.offer-div,
.execution-div,
.cooperation-div,
.footer-div {
  width: 465px;
  margin: 10px 25px 25px 25px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.cooperation-div p,
.offer-div p {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 25px;
}

h3 {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
}

ol {
  margin: 0 0 25px 17px;
  font-size: 15px;
  line-height: 40px;
}

/*execution*/
.execution-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.foto {
  cursor: pointer;
  width: 225px;
  height: 225px;
  margin: 0 20px 20px 0;
  border: 2px solid black;
}

.foto img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.foto.hidden,
.popup.hidden {
  display: none;
}

.popup {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.popup__close {
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 28px;
  line-height: 44px;
  width: 44px;
  height: 44px;
  position: fixed;
  right: 15%;
  top: 22px;
}

.popup img {
  max-width: 80%;
  max-height: 80%;
}

.popup__arrow {
  background-color: black;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 34px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  top: 50%;
  transition: opacity 0.3s;
  width: 44px;
}

.popup__close,
.popup__arrow {
  opacity: 0.8;
  transition: opacity 0.3s;
}

.popup__close:hover,
.popup__arrow:hover {
  opacity: 1;
}

.popup__arrow--left {
  left: 15%;
}

.popup__arrow--right {
  right: 15%;
}

.description {
  width: 150px;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description p {
  font-size: 15px;
  line-height: 30px;
}

/*footer*/
.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-element {
  margin: 0 20px 20px 0;
}

.footer-element p {
  font-size: 15px;
  line-height: 25px;
}

.footer-contact {
  display: flex;
  flex-wrap: wrap;
}

.footer-contact img {
  cursor: pointer;
  height: 40px;
  text-decoration: none;
  width: 40px;
  margin: 0 50px 30px 0;
}

p {
  text-align: justify;
}

span {
  display: block;
  margin-bottom: 16px;
}

.footer-element .copyright {
  font-size: 12px;
  color: rgb(143, 143, 143);
  margin-bottom: 15px;
}

.copyright a {

  cursor: pointer;
  text-decoration: none;
  color: rgb(143, 143, 143);
}

@media only screen and (max-width: 850px) {

  .wrapper p {
    font-size: 14px;
  }

  .wrapper {
    width: 95%;
  }

  nav {
    width: 30%;
  }

  .offer-div,
  .execution-div,
  .cooperation-div,
  .footer-div,
  .pictures,
  .intro-text,
  .footer-contact h3 {
    justify-content: flex-end;
    width: 60%;
    margin: 5px 20px 20px 20px;
  }

  .pictures {
    flex-direction: column;
    align-items: center;
  }

  .pictures div,
  .pictures img {
    width: 270px;
    height: 270px;
  }

  .foto {
    width: 150px;
    height: 150px;
    margin: 10px;
  }

  .description {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 840px) {
  .logo {
    width: 180px;
    height: 180px;
  }
}

@media only screen and (max-width: 800px) {

  main {
    padding-top: 25px;
  }

  .logo {
    margin-top: 5px;
    height: 25%;
    width: 25%;
  }

  nav {
    border-radius: 20px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    background-color: white;
    bottom: 10px;
    flex-direction: row;
    margin-right: 10px;
    width: 95%;
  }

  .navi {
    width: 100%;
  }

  nav ul {
    margin: 0;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-around;
  }

  nav ul li {
    margin: 0;
  }

  nav ul li a {
    line-height: 58px;
  }

  .pictures div,
  .pictures img {
    width: 300px;
    height: 300px;
  }

  .offer-div,
  .execution-div,
  .cooperation-div,
  .footer-div,
  .pictures,
  .intro-text,
  .footer-element {
    justify-content: center;
    width: 80%;
  }

  .intro,
  .offer,
  .execution,
  .cooperation,
  footer,
  .pictures,
  .intro-text {
    align-items: center;
    justify-content: center;
  }

  .foto {
    width: 200px;
    height: 200px;
  }

  .description {
    width: 170px;
    height: 170px;
  }

  footer {
    margin-bottom: 120px;
  }
}

@media only screen and (max-width: 592px) {

  nav ul {
    font-size: 16px;
  }

  .execution-wrapper {
    justify-content: center;
  }

  .foto {
    width: 200px;
    height: 200px;
    margin: 10px;
  }

  .description {
    justify-content: center;
    height: 125px;
    margin: 10px;
  }

  .footer-element {
    width: 170px;
    margin-right: 0px;
  }

  .footer-contact img {
    margin: 0 15px 30px 15px;
  }

  .fb,
  .ig {
    width: 80px;
  }

  .footer-element .copyright {
    font-size: 10px;
  }

  footer {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 539px) {

  .description {
    height: 75px;
    margin-bottom: 35px;
    margin-top: 0;
  }

  .description p {
    text-align: center;
    line-height: 18px;
  }
}

@media only screen and (max-width: 500px) {

  nav ul {
    font-size: 12px;
  }

  .pictures div,
  .pictures img {
    width: 250px;
    height: 250px;
  }

  .footer-contact img {
    margin: 0 15px 20px 15px;
  }

  footer {
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 400px) {

  .pictures div,
  .pictures img {
    width: 170px;
    height: 170px;
  }
}

@media only screen and (max-width: 350px) {

  nav ul {
    font-size: 11px;
  }
}